{# src/AppBundle/Resources/views/Form/subscriberForm.html.twig #}
<div class="inner" id="subscribe-data-container">
    <form action="{{ path('subscribe', { '_locale': _locale }) }}" method="POST" {{ form_enctype(subscriberForm) }} id="subscribe-form">
        <div class="field-holder">

            {{ form_widget(subscriberForm.email) }}

        </div>

        {{ form_widget(subscriberForm._token) }}

        <button type="submit">
            <span>{{ 'subscriber.submit.label'|trans({}, "forms") }}</span>
        </button>
    </form>
</div>
