{# src/AppBundle/Resources/views/Component/header.html.twig #}
<div id="logo-holder">
    <a href="{{ path('index') }}" class="logo">
        <img src="{{ asset('bundles/app/images/logo.png') }}" alt="{{ 'common.title'|trans }}" title="{{ 'common.title'|trans }}">
    </a>
</div>
<div id="toggle-menu" class="touchable">
    <div class="lines-holder">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <span class="menu-title">{{ 'common.menu'|trans }}</span>
</div>
<div id="menu-holder">

    {{ render(controller(
        'AppBundle:Component:locale'
    )) }}

    <div class="subscribe-button">
        <a href="{{ path('subscription') }}">
            {{ 'common.subscription'|trans }}
        </a>
    </div>

    {{ render(controller(
        'AppBundle:Component:menu'
    )) }}

    {{ render(controller(
        'AppBundle:Component:social'
    )) }}

    {{ render(controller(
        'AppBundle:Component:band'
    )) }}
</div>
