{# src/AppBundle/Resources/views/Email/feedback.html.twig #}
<p>{{ feedback.name }} ({{ feedback.email }}) {{ 'feedback.body.sent_message'|trans({}, "emails", default_locale) }}:</p>

<p>{{ ( feedback.subject ) ? "'" ~ feedback.subject ~ "'" : "-" ~ 'feedback.body.no_subject'|trans({}, "emails", default_locale) ~ "-" }}</p>

<p>{{ feedback.message }}</p>

<p>{{ 'common.body.date'|trans({}, "emails", default_locale) }} {{ "now"|date("H:i, d-m-Y") }}.</p>
