{# src/AppBundle/Resources/views/State/band.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ metadata.title }} | {{ 'common.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
    {# Open Graph #}
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ url('band') }}">
    <meta property="og:title" content="{{ metadata.title }} - {{ 'common.title'|trans }}">
	<meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:image" content="{{ absolute_url(asset('bundles/app/images/logo.png')) }}">
    <meta property="og:image:type" content="image/png">
    {# Locale reference #}
    <link rel="canonical" href="{{ url('band', { '_locale': "ru" }) }}">
    <link rel="alternate" href="{{ url('band', { '_locale': "ru" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('band', { '_locale': "ru" }) }}" hreflang="ru-ru">
    <link rel="alternate" href="{{ url('band', { '_locale': "en" }) }}" hreflang="en-us">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/band.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <section class="outer band-holder">
            <h1 class="entitled-holder">{{ 'band.headline'|trans }}</h1>
            <div class="inner grid" id="lift-holder">

                {% for musician in musicians %}
                    <article class="item lift-item">
                        <div class="photo-holder">

                            {% if musician.isMainCast %}
                                <a href="{{ path('band', { 'id': musician.id, 'slug': musician.slug }) }}" class="photo">
                            {% else %}
                                <div class="photo">
                            {% endif %}

                            <figure>
                                <img src="{{ vich_uploader_asset(musician, 'photoFile')|imagine_filter('musician_photo_thumb') }}" alt="{{ musician.title }}">
                            </figure>

                            {% if musician.isMainCast %}
                                </a>
                            {% else %}
                                </div>
                            {% endif %}

                        </div>
                        <div class="stamp-holder">
                            <span class="upper-title">{{ musician.dateOfBirth|date("Y") }}</span>
                            <p class="sub-title">{{ 'band.musician.years'|transchoice(musician.getYearsActive()) }}</p>
                        </div>
                        <div class="info-holder">
                            <span class="upper-title">{{ musician.skill }}</span>
                            <span class="underline"></span>
                            <h2>{{ musician.title }}</h2>
                            <p>{{ musician.story|truncate(500) }}</p>

                            {% if musician.isMainCast %}
                                <a href="{{ path('band', { 'id': musician.id, 'slug': musician.slug }) }}">
                                    {{ 'band.musician.read_more'|trans }}
                                    <span class="arrow"></span>
                                </a>
                            {% endif %}

                        </div>
                    </article>
                {% endfor %}

            </div>
        </section>
        <div id="to-top">
            <span class="arrow arrow-top"></span>
        </div>
    </main>
    <div id="bg-circle-overlay">
        <div class="circle"></div>
    </div>
    <div id="ajax-loader">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>
{% endblock %}

{% block footer %}

    {% include 'AppBundle:Component:footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/band.bundle.min.js') }}"></script>
{% endblock %}
