{# src/AppBundle/Resources/views/State/music.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ metadata.title }} | {{ 'common.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
    {# Open Graph #}
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ url('music') }}">
    <meta property="og:title" content="{{ metadata.title }} - {{ 'common.title'|trans }}">
	<meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:image" content="{{ absolute_url(asset('bundles/app/images/logo-social.png')) }}">
    <meta property="og:image:type" content="image/png">
    {# Locale reference #}
    <link rel="canonical" href="{{ url('music', { '_locale': "ru" }) }}">
    <link rel="alternate" href="{{ url('music', { '_locale': "ru" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('music', { '_locale': "ru" }) }}" hreflang="ru-ru">
    <link rel="alternate" href="{{ url('music', { '_locale': "en" }) }}" hreflang="en-us">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/albums.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <section class="outer albums-holder">
            <h1 class="entitled-holder">{{ metadata.title }}</h1>
            <div class="inner grid" id="lift-holder">

                {% for album in albums %}
                    <article class="item lift-item">
                        <div class="photo-holder">
                            <a href="{{ path('music', { 'id': album.id, 'slug': album.slug }) }}" class="photo">
                                <figure>
                                    <img src="{{ vich_uploader_asset(album, 'coverFile')|imagine_filter('album_cover_thumb') }}" alt="{{ album.title }}">
                                </figure>
                            </a>
                        </div>
                        <div class="stamp-holder">
                            <span class="upper-title">{{ album.yearOfRelease }}</span>
                        </div>
                        <div class="info-holder">
                            <span class="upper-title">
                                {{ 'music.album.songs'|transchoice(album.songs|length) }}
                            </span>
                            <span class="underline"></span>
                            <h2>{{ album.title }}</h2>
                            <p>{{ album.description|truncate(250) }}</p>
                            <a href="{{ path('music', { 'id': album.id, 'slug': album.slug }) }}">
                                {{ 'music.album.details'|trans }}
                                <span class="arrow"></span>
                            </a>
                        </div>
                    </article>
                {% else %}
                    <div class="empty-holder">
                        <p>{{ 'common.empty.music'|trans({}, 'responses') }}</p>
                    </div>
                {% endfor %}

            </div>
        </section>
        <div id="to-top">
            <span class="arrow arrow-top"></span>
        </div>
    </main>
    <div id="bg-circle-overlay">
        <div class="circle"></div>
    </div>
    <div id="ajax-loader">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>
{% endblock %}

{% block footer %}

    {% include 'AppBundle:Component:footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/albums.bundle.min.js') }}"></script>
{% endblock %}
